<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://thymeleaf.org"> <!-- Declarando o namespace de Thymeleaf para a construção de páginas dinâmicas -->
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/style.css" th:href="@{css/style.css}">
    <title>Mini-agenda</title>
</head>
<body>
    <div class="topnav">
        <section>
            <header>
                <main><a href="#">Novo contato</a></main>
                <main><a href="#">Sua agenda</a></main>
            </header>
        </section>
    </div>

    <h1>Mini Agenda</h1>
    <p>Projeto idealizado para a construção de um CRUD com as tecnologias Java e Spring Framework</p>
</body>
</html>